### FIND COST EFFECTIVE BEST YOUTH PLAYERS

### Step 1:
> Import required libraries

In [129]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Step 2:
> Load dataset

In [130]:
fifa_ds = pd.read_csv('FIFA22_official_data.csv')
fifa_ds.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12,14,15,8,14,CAM,88,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13,8,15,11,9,CM,87,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27,25,31,33,37,ST,88,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15,13,5,10,13,CM,91,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8,14,13,13,14,LB,84,€77.7M,80.0

### Step 3:
> * Remove NaN values for Release Clauses. 
> * Convert the currencies to float values. 
* Beacuse we will use the Release clause in order to find best players.

In [131]:
# function for convert currency
def convert_currency(value):
    if "M" in value:
        fvalue = float(value.replace("M","").replace("€",""))*1000000
    elif "K" in value:
        fvalue = float(value.replace("K","").replace("€",""))*1000
    else:
        fvalue = value.replace("€","")
    return fvalue

Remove NaN values from Release Clause

In [132]:
fifa_ds.dropna(subset=['Release Clause'], how='all', inplace=True)

Convert Release Clause & Wages to float

In [133]:
fifa_ds["ReleaseValue"] = fifa_ds["Release Clause"].apply(convert_currency).astype(float)
fifa_ds["Wage"] = fifa_ds["Wage"].apply(convert_currency).astype(float)

### Step 4:
> Select needed columns from dataset
* Because we dont need a lot of columns to find best players so we are getting the needed columns.

In [134]:
fifa_ds = fifa_ds[["Name", "Age", "Overall", "Potential", "Nationality",
                  "Club", "Best Position", "ReleaseValue", "Wage"]]
fifa_ds.head()

,Name,Age,Overall,Potential,Nationality,Club,Best Position,ReleaseValue,Wage
0,Bruno Fernandes,26,88,89,Portugal,Manchester United,CAM,206900000.0,250000.0
1,L. Goretzka,26,87,88,Germany,FC Bayern München,CM,160400000.0,140000.0
2,L. Suárez,34,88,88,Uruguay,Atlético de Madrid,ST,91200000.0,135000.0
3,K. De Bruyne,30,91,91,Belgium,Manchester City,CM,232200000.0,350000.0
4,M. Acuña,29,84,84,Argentina,Sevilla FC,LB,77700000.0,45000.0

### Step 5:
> Filter the data for under 20 ages and Potential greater then 80

In [138]:
fifa_ds = fifa_ds[(fifa_ds["Age"] < 20) & (fifa_ds['Potential'] > 80)]
fifa_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 300 to 16599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           248 non-null    object
 1   Age            248 non-null    int64
 2   Overall        248 non-null    int64
 3   Potential      248 non-null    int64
 4   Nationality    248 non-null    object
 5   Club           248 non-null    object
 6   Best Position  248 non-null    object
 7   ReleaseValue   248 non-null    float64
 8   Wage           248 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 19.4+ KB

### Step 6:
> Lets decide which player is most effective using release value of per potential.
> * Crate a new column RVPP (Release Value for per Potential)

In [82]:
fifa_ds['RVPP'] = fifa_ds['ReleaseValue'] / fifa_ds['Potential']
fifa_ds.head()

,Name,Age,Overall,Potential,Nationality,Club,Best Position,ReleaseValue,Wage,RVPP
300,E. Camavinga,18,78,89,France,Real Madrid CF,CM,66400000.0,44000.0,7.460674e+05
358,J. Bellingham,18,79,89,England,Borussia Dortmund,CM,70300000.0,21000.0,7.898876e+05
373,R. Gravenberch,19,78,90,Netherlands,Ajax,CAM,52800000.0,11000.0,5.866667e+05
547,B. Saka,19,80,88,England,Arsenal,LM,95600000.0,50000.0,1.086364e+06
703,Pedri,18,81,91,Spain,FC Barcelona,CAM,121500000.0,51000.0,1.335165e+06

### Step 7:
> Find Best Youth Players -
> * Lets create a best team by filtering cost effective best youth players.

In [104]:
fifa_best_team = pd.DataFrame()

# Goal Keeper
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'GK')].sort_values(by='RVPP').head(1))

# Right Back/Defence
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'RB')].sort_values(by='RVPP').head(1))

# Center Back/Defence (2 person)
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'CB')].sort_values(by='RVPP').head(2))

# Left Back/Defense
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'LB')].sort_values(by='RVPP').head(1))

# Right Midfielder
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'RM')].sort_values(by='RVPP').head(1))

# Center Midfielder (2 person)
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'CM')].sort_values(by='RVPP').head(2))

# Lest Midfielder
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'LM')].sort_values(by='RVPP').head(1))

# Striker (2 person)
fifa_best_team = fifa_best_team.append(fifa_ds[(fifa_ds['Best Position'] == 'ST')].sort_values(by='RVPP').head(2))

# Best Players List
fifa_best_team

,Name,Age,Overall,Potential,Nationality,Club,Best Position,ReleaseValue,Wage,RVPP
16137,21 Iván Martínez,18,60,81,Spain,CA Osasuna,GK,1200000.0,500.0,14814.814815
5884,20 F. Tolomello,17,62,81,Italy,Trapani,RB,1300000.0,500.0,16049.382716
14595,R. van den Berg,16,59,83,Netherlands,PEC Zwolle,CB,1700000.0,500.0,20481.927711
11509,L. Bogarde,17,58,81,Netherlands,Aston Villa,CB,1700000.0,500.0,20987.654321
11607,D. Guindo,18,64,82,Mali,FC Red Bull Salzburg,LB,3000000.0,2000.0,36585.365854
11964,A. Baldé,18,63,81,Senegal,Feyenoord,RM,2600000.0,1000.0,32098.765432
10926,21 Bruno Iglesias,17,59,83,Spain,Real Madrid CF,CM,2100000.0,2000.0,25301.204819
8007,S. Hezze,19,65,81,Argentina,Club Atlético Huracán,CM,3700000.0,2000.0,45679.012346
13368,21 M. Bamba,18,61,81,Côte d'Ivoire,Roma,LM,2400000.0,3000.0,29629.629630
12870,20 A. Amaya,18,62,82,Colombia,Atlético Huila,ST,1500000.0,500.0,18292.682927
14750,A. Hackford,17,59,84,England,Sheffield United,ST,2000000.0,950.0,23809.523810

### Conclusion:
> * Total Release Value is: 23.M Euro
> * Total Wage is: 13450 Euro
> * Total Potential is: 900
> * Average Potential is: 81.81

In [126]:
# Total Release Value
total_release_value = fifa_best_team['ReleaseValue'].sum() / 1000000
print('Total Release Value is:', str(total_release_value) + 'M Euro')

# Total Wage
print("Total Wage is: %d Euro" % (int(fifa_best_team['Wage'].sum())))

# Total Potential
print('Total Potential is: %d' % (fifa_best_team['Potential'].sum()))

# Average Potential is:
print('Average Potential is: %.2f' % (fifa_best_team['Potential'].sum() / len(fifa_best_team['Potential'])))

Total Release Value is: 23.2M Euro
Total Wage is: 13450 Euro
Total Potential is: 900
Average Potential is: 81.82